
nav a{
  color: white;
 
}

nav ul { z-index: 9000;}

.navbar-dark .navbar-nav .nav-link{

  color: #e6e6e6;
  font-size: 1.2rem;
  line-height: 50%;


}

.navbar-dark .navbar-nav .nav-link:hover{
    color: #fff;
    

}
.bg-dark{
  opacity: 0.6;
}
.navbar ul li{
  padding:0 15px; 
}



